<!-- Educacion -->

<div class="row justify-content-between" id="fila3">
    <div class="col-4">
        <td><h2>Estudios</h2></td>
        <td>
            <button type="button" class="btn btn-success" id="botones" routerLink="/nuevaedu" *ngIf="isLogged">
            <a class="nav-link" style="color:white">Añadir</a>
            </button>
        </td>
    </div>

    <li id="educacion" *ngFor="let educacion of edu">
        <a class="btn btn-light" id="botones" routerLink="/editaredu/{{educacion.idEdu}}" *ngIf="isLogged"><i class="fa fa-pencil"></i></a>
        <a class="btn btn-light" id="botones" (click)="delete(educacion.idEdu)" *ngIf="isLogged"><i class="fa fa-times" ></i></a>
        <p>{{educacion.descEdu}}</p>
    </li> 
    
</div>





