<div class="container">
    <div class="row">
        <div>
            <form  novalidate (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h2 for="descripcionExp">Editar Experiencia:</h2>
                    <input type="text" class="form-control" id="experiencia" name="experiencia" [(ngModel)]="exp.descExp" required>
                </div>
                <button class="btn btn-success" id="botones">Actualizar experiencia</button>
            </form>
        </div>
    </div>
</div>
