<div class="container">
    <div class="row">
        <div>
            <form  novalidate (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h2 for="descripcionSobremi">Editar información:</h2>
                    <input type="text" class="form-control" id="sobremi" name="sobremi" [(ngModel)]="sobremi.descSobremi" required>
                </div>
                <button class="btn btn-success" id="botones">Actualizar información</button>
            </form>
        </div>
    </div>
</div>
