<div class="container">
    <div class="row">
        <div>
            <form  novalidate (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h2 for="nombreSkill">Nombre habilidad:</h2>
                    <input type="text" class="form-control" id="skill" name="skill" [(ngModel)]="skill.nombre" required>
                    <h2 for="porcSkill">Porcentaje de habilidad:</h2>
                    <input type="text" class="form-control" id="porcSkill" name="porcSkill" [(ngModel)]="skill.porcentaje" required>
                </div>
                <button class="btn btn-success" id="botones">Actualizar habilidad</button>
            </form>
        </div>
    </div>
</div>